/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/

/* 1.1 General */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

html {
  font-size: 12px;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #1f2044;
}

html,
body {
	width: 100%;
	height: 100%;
}

::selection {
  background-color: #fcf1e7;
  color: #1f2044;
  text-shadow: none;
}

-webkit-::selection {
  background-color: #fcf1e7;
  color: #1f2044;
  text-shadow: none;
}

::-moz-selection {
  background-color: #fcf1e7;
  color: #1f2044;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #2e2e2e;
}

img {
	max-width: 100%;
}

/* 1.2 Typography */

.font-custom {
	font-family: 'Libre Baskerville', serif;
}

.text-primary {
	color: #f79784 !important;
}

a{
	color: #e6e6e6;
	transition: transform .2s; /* Animation */
}

/* 1.3 Animation */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* 1.4 Icons */

[class^="icon-"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -.05em;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	letter-spacing: 0;
}

[class^="icon-"]:before {
	content: "W";
	opacity: 0;
	display: block;
	height: 0;
	padding-bottom: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover i.fa {
	color: gold;
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* 1.5 Buttons */

button:focus,
input:focus {
  outline: none;
}

.btn {
	padding: 1rem 2.625rem;
	border-radius: 500px;
	font-weight: bold;
	font-size: .875rem;
	text-transform: uppercase;
}

.btn-dark {
	background-color: #1f2044;
}

/* 1.6 Forms */

#success,
#error{
  display: none;
}

.form-group-message{
  display: none;
}

label.error {
	margin-top: .5rem;
	margin-bottom: 0;
	color: #555555;
}

.form-group {
	margin-bottom: 2rem;
}

.form-control {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: .875rem;
	padding-bottom: .9375rem;
	height: calc(1.5em + 1.8125rem + 2px);
}

/* ------------------------------------------------------------------------------- */
/*  Preloader
/* ------------------------------------------------------------------------------- */

.preloader {
	position: fixed;
	overflow: hidden;
	z-index: 999999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	text-align: center;
}

.three-bounce {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.three-bounce > div {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: #f79784;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
	animation: bouncedelay 1.4s infinite ease-in-out both;
}

.three-bounce .one {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.three-bounce .two {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1) }
}

@keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
	40% { transform: scale(1); -webkit-transform: scale(1); }
}



/*-------------------------------------------------------------------------------
  3. Header
-------------------------------------------------------------------------------*/

.header {
	padding-top: 3.875rem;
}

.body-piling .header {
	padding-top: 0;
}

.header .container-fluid {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.body-piling .brand {
	z-index: 500;
	padding:0em;
	left:0px;	
	position: absolute;
}

.brand-name {
	color: #234969;
	text-decoration: none;
	font-size: 1.375rem;
	letter-spacing: -.06em;
}

.brand-name:hover {
	text-decoration: none;
	color: #234969;
}

.brand-name-s {
	font-weight: 600;
	color: #464989;
}

.nav-toggle-btn {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  z-index: 995;
}

.body-piling .nav-toggle-btn {
	position: fixed;
	right: 15px;
	top: 20px;
}

.hamburger {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top:1em;
  right: 1em;
}

.hamburger span {
  align-self: flex-end;
  height: 2px;
  width: 83.33333333%;
  background: #3E4651;
  transition: all 400ms ease-in-out;
}

.hamburger .meat {
  width: 100%;
  transition: all 200ms ease-in-out;
}

.hamburger .bottom-bun {
  width: 58.33333333%;
  transition: all 400ms ease-in-out;
}

.hamburger:hover span {
  width: 100%;
}

html:not(.body-menu-opened) .hamburger .top-bun {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
}

html:not(.body-menu-opened) .hamburger .meat {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}

html:not(.body-menu-opened) .hamburger .bottom-bun {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 600ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 600ms;
}

@-webkit-keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.body-menu-opened .hamburger .top-bun {
	transform: rotate(-45deg) translate(-4.5px,4px);
	width: 100%;
}

.body-menu-opened .hamburger .bottom-bun {
	transform: rotate(45deg) translate(-4.5px,-4px);
	width: 100%;
}

.body-menu-opened .hamburger .meat {
	width: 0;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  background: #ffffff;
  max-width: 100%;
  width: 100%;
  padding: 0.25rem 4.375rem 4.1875rem;
  display: flex;
  flex-direction: column;
  transition: transform .4s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.body-menu-opened .menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hide-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background: rgba(0,0,0,.65);
  z-index: 980;
}

.body-menu-opened .hide-menu {
  bottom: 0;
}

.menu .menu-lang,
.menu .menu-main,
.menu .social,
.menu .menu-footer {
  opacity: 0;
  transform: translateY(3rem);
  transition: all .5s ease-in-out;
}

.menu .menu-lang {
  transition-delay: .2s;
}

.menu .menu-main {
  transition-delay: .4s;
}

.menu .social {
  transition-delay: .6s;
}

.menu .menu-footer {
  transition-delay: .8s;
}

.body-menu-opened .menu .menu-lang,
.body-menu-opened .menu .menu-main,
.body-menu-opened .menu .social,
.body-menu-opened .menu .menu-footer {
  opacity: 1;
  transform: translateY(0);
}

.menu .menu-lang {
	padding-bottom: 5.875rem;
}

.menu-lang {
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: 600;
}

.menu-lang-item {
	display: inline-block;
	margin-right: 1.5rem;
	color: #a3a4a8;
	text-decoration: none;
}

.menu-lang-item.active,
.menu-lang-item:hover {
	color: #1f2044;
	text-decoration: none;
}

.menu-main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.375rem;
  font-weight: bold;
}

.menu-main > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-main > ul > li {
  margin-bottom: 1.1875rem;
  padding-left: 2px;
}

.menu-main a,
.menu-main a:hover {
	color: #1f2044;
	text-decoration: none;
}

.menu-main .active a,
.menu-main a:hover {
	background-color: #fcf1e7;
	box-shadow: #fcf1e7 0 0 0 2px;
}

.menu-main a:after {
	content: ".";
	opacity: 0;
	display: inline-block;
	transform: translate(2rem,0);
	transition: all .3s ease-in-out;
}

.menu-main .active a:after {
	transform: translate(0,0);
	opacity: 1;
}

.menu-footer {
	padding-top: 3rem;
}

.menu-footer-contacts {
	margin-bottom: 10px;
}

.menu-footer-phone {
	margin-bottom: .25rem;
	font-size: 1.375rem;
	font-weight: 600;
}

.menu-footer-mail {
	color: #f79784;
	font-weight: 500;
	font-size: 1rem;
}

.menu-footer-copyright {
	font-size: .875rem;
	color: #234969;
}

.menu-ornament {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: .375rem;
	background: #78acd9;
}

.menu-ornament:before,
.menu-ornament:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 33.33333333%;
	height: 100%;
}

.menu-ornament:before {
	background: #464989;
	left: 0;
}

.menu-ornament:after {
	background: #f79784;
	right: 0;
}
