/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/


/* 1.1 General */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

html {
  font-size: 12px;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #1f2044;
}

html,
body {
	width: 100%;
	height: 100%;
}

::selection {
  background-color: #fcf1e7;
  color: #1f2044;
  text-shadow: none;
}

-webkit-::selection {
  background-color: #fcf1e7;
  color: #1f2044;
  text-shadow: none;
}

::-moz-selection {
  background-color: #fcf1e7;
  color: #1f2044;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #2e2e2e;
}

img {
	width: 100%; /* or max-width: 100%; */
	height: auto;
	max-width: 100%;
}

/* 1.2 Typography */

.font-custom {
	font-family: 'Libre Baskerville', serif;
}

.text-primary {
	color: #f79784 !important;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

@media (min-width: 1600px) {
	.container-fluid {
		padding-left: 4.375rem;
		padding-right: 4.375rem;
	}
}

a{
	color: #e6e6e6;
	transition: transform .2s; /* Animation */
}

/* 1.3 Animation */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 160px, 0);
    transform: translate3d(0, 160px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* 1.4 Icons */

[class^="icon-"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -.05em;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	letter-spacing: 0;
}

[class^="icon-"]:before {
	content: "W";
	opacity: 0;
	display: block;
	height: 0;
	padding-bottom: 100%;
	font-style: normal;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:hover i.fa {
	color: gold;
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* 1.5 Buttons */

button:focus,
input:focus {
  outline: none;
}

.btn {
	padding: 1rem 2.625rem;
	border-radius: 500px;
	font-weight: bold;
	font-size: .875rem;
	text-transform: uppercase;
}

.btn-dark {
	background-color: #1f2044;
}



/* 1.6 Forms */

#success,
#error{
  display: none;
}

.form-group-message{
  display: none;
}

label.error {
	margin-top: .5rem;
	margin-bottom: 0;
	color: #555555;
}

.form-group {
	margin-bottom: 2rem;
}

.form-control {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: .875rem;
	padding-bottom: .9375rem;
	height: calc(1.5em + 1.8125rem + 2px);
}


/*-------------------------------------------------------------------------------
  3. Header
-------------------------------------------------------------------------------*/

.header {
	padding-top: 3.875rem;
}

.body-piling .header {
	padding-top: 0;
}

.header .container-fluid {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.body-piling .brand {
	z-index: 500;
	padding:0em;
	left:0px;	
	position: absolute;
}

.brand-name {
	color: #234969;
	text-decoration: none;
	font-size: 1.375rem;
	letter-spacing: -.06em;
	&:hover {
		text-decoration: none;
		color: #234969;
	}
}

.brand-name-s {
	font-weight: 600;
	color: #464989;
}

@media (min-width: 768px) {
	.slide-title-margin-lg .slide-title{
		font-size: 1.75rem;
	}
		
}

@media (min-width: 1400px) {
	.body-piling .brand {
		left: 4.375rem;
	}
}


.body-piling{
	.nav-toggle-btn {
		position: fixed;
		right: 15px;
		top: 20px;
		margin: 0;
		border: none;
		padding: 0;
		background-color: transparent;
		z-index: 995;
		@media (min-width: 768px) {
			top: 4.1875rem;
		}
	} 
}

@media (min-width: 768px) {
	.slide-title{
		font-size: 1.75rem;
	}
}

@media (min-width: 1400px) {
	.body-piling .nav-toggle-btn {
		right: 4.375rem;
	}
}

.hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    top:1em;
    right: 1em;
    span {
        align-self: flex-end;
        height: 2px;
        width: 83.33333333%;
        background: #3E4651;
        transition: all 400ms ease-in-out;
    }
    & .meat {
        width: 100%;
        transition: all 200ms ease-in-out;
    }
    & .bottom-bun {
        width: 58.33333333%;
        transition: all 400ms ease-in-out;
    }
    &:hover span {
        width: 100%;
    }
}

html:not(.body-menu-opened) .hamburger .top-bun {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
}

html:not(.body-menu-opened) .hamburger .meat {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}

html:not(.body-menu-opened) .hamburger .bottom-bun {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 600ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 600ms;
}

@-webkit-keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.body-menu-opened .hamburger{
    .top-bun {
        transform: rotate(-45deg) translate(-4.5px,4px);
        width: 100%;
    }
    .bottom-bun {
        transform: rotate(45deg) translate(-4.5px,-4px);
        width: 100%;
    }
    .meat {
        width: 0;
    }
} 

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  background: #ffffff;
  max-width: 100%;
  width: 100%;
  padding: 0.25rem 4.375rem 4.1875rem;
  display: flex;
  flex-direction: column;
  transition: transform .4s ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.body-menu-opened .menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hide-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  background: rgba(0,0,0,.65);
  z-index: 980;
}

.body-menu-opened .hide-menu {
  bottom: 0;
}

@media (min-width: 576px) {
  .menu {
    width: 34rem;
  }
  .slide-title{
	font-size: 1.75rem;
}
}

.menu .menu-lang,
.menu .menu-main,
.menu .social,
.menu .menu-footer {
  opacity: 0;
  transform: translateY(3rem);
  transition: all .5s ease-in-out;
}

.menu{
    .menu-lang {
        transition-delay: .2s;
    }
    .menu-main {
        transition-delay: .4s;
    }
    .social {
        transition-delay: .6s;
    }
    .menu-footer {
        transition-delay: .8s;
    }
} 

.body-menu-opened .menu .menu-lang,
.body-menu-opened .menu .menu-main,
.body-menu-opened .menu .social,
.body-menu-opened .menu .menu-footer {
  opacity: 1;
  transform: translateY(0);
}

.menu .menu-lang {
	padding-bottom: 5.875rem;
}

.menu-lang {
	font-size: .875rem;
	text-transform: uppercase;
	font-weight: 600;
}

.menu-lang-item {
	display: inline-block;
	margin-right: 1.5rem;
	color: #a3a4a8;
	text-decoration: none;
}

.menu-lang-item.active,
.menu-lang-item:hover {
	color: #1f2044;
	text-decoration: none;
}

.menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.375rem;
    font-weight: bold;
    &> ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 1.1875rem;
            padding-left: 2px;
        }
    }
    a{
        &:hover{
            color: #1f2044;
            text-decoration: none;
        }
    }
}
 

.menu-main .active a,
.menu-main a:hover {
	background-color: #fcf1e7;
	box-shadow: #fcf1e7 0 0 0 2px;
}

.menu-main a:after {
	content: ".";
	opacity: 0;
	display: inline-block;
	transform: translate(2rem,0);
	transition: all .3s ease-in-out;
}

.menu-main .active a:after {
	transform: translate(0,0);
	opacity: 1;
}

.menu-footer {
	padding-top: 3rem;
}

.menu-footer-contacts {
	margin-bottom: 10px;
}

.menu-footer-phone {
	margin-bottom: .25rem;
	font-size: 1.375rem;
	font-weight: 600;
}

.menu-footer-mail {
	color: #f79784;
	font-weight: 500;
	font-size: 1rem;
}

.menu-footer-copyright {
	font-size: .875rem;
	color: #234969;
}

.menu-ornament {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: .375rem;
	background: #78acd9;
}

.menu-ornament:before,
.menu-ornament:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 33.33333333%;
	height: 100%;
}

.menu-ornament{
    &:before {
        background: #464989;
        left: 0;
    }
    &:after {
        background: #f79784;
        right: 0;
    }
}


/*-------------------------------------------------------------------------------
  4. Content
-------------------------------------------------------------------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	opacity: 0;
	transition: all .3s ease-in-out;
    #content {
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    #footer {
        flex: 0 0 auto;
    }
}

.full-page {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.section {
	min-height: 100%;
	display: flex;
}

#pp-nav {
	display: none;
}

.progress-nav {
    width: 2px;
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        width: 2px;
        height: 1.625rem;
        background: #464a8a;
        overflow: hidden;
        transition: background .5s ease-in-out;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #464a8a;
        }
        &.active:before {
            animation: navHeight .5s ease-in-out forwards;
        }
    }
}

@-webkit-keyframes navHeight {
  0%   {height: 0;}
  100% {height: 100%;}
}

@keyframes navHeight {
  0%   {height: 0;}
  100% {height: 100%;}
}


.progress-nav li.active,
.progress-nav li.active ~ li {
  background: #cccccc;
}

.progress-nav li:before {
  height: 100%;
}

.progress-nav li.active ~ li:before {
  height: 0%;
}

@media (min-width: 1400px) {
	.progress-nav {
	  left: 4.5rem;
	}
}

.pp-scrollable {
	background: #ffffff;
	overflow-x: hidden;
	overflow-y: auto;
}

.slide-dark {
	background: #fafafa;
}

.slide-container {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	padding-top: 6.25rem;
	padding-bottom: 3.75rem;
	position: relative;
}

.lines > div {
	display: block;
	width: 1px;
	height: 100%;
	background: #f5f5f5;
	position: absolute;
	left: 20%;
	top: 0;
}

.lines > div:nth-child(2) {
	left: 40%;
}

.lines > div:nth-child(3) {
	left: 60%;
}

.lines > div:nth-child(4) {
	left: 80%;
}

.slide-dark .lines > div {
	background: #eeeeee;
}

.parallax {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.shape {
	position: absolute !important;
	background-position: 0% 0%;
    & > .inside {
        display: block;
        width: 100%;
        height: 0%;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.shape1 {
	top: 26.9% !important;
	left: 9.89583333% !important;
	width: 8.64583333%;
    & > .inside {
        background-image: url("../img/image-shape/shape1.png");
        padding-bottom: 106.02409639%;
    }
}

.shape1-intro {
	top: 25.7% !important;
	left: 8.80208333% !important;
	width: 8.85416667%;
    & > .inside {
        background-image: url("../img/image-shape/shape1-intro.png");
        padding-bottom: 104.11764706%;
    }
}

.shape2 {
	top: 41.3% !important;
	left: 16.875% !important;
	width: 6.66666667%;
    & > .inside {
        background-image: url("../img/image-shape/shape2.png");
        padding-bottom: 99.21875%;
    }
}

.shape3 {
	top: 55.1% !important;
	left: 80.3125% !important;
	width: 2.08333333%;
    & > .inside {
        background-image: url("../img/image-shape/shape3.png");
        padding-bottom: 112.5%;
    }
}

.shape3-intro {
	top: 44.9% !important;
	left: 85.72916667% !important;
	width: 1.97916667%;
    & > .inside {
        background-image: url("../img/image-shape/shape3-intro.png");
        padding-bottom: 115.78947368%;
    }
}

.shape4 {
	top: 47.3% !important;
	left: 81.66666667% !important;
	width: 3.17708333%;
    & > .inside {
        background-image: url("../img/image-shape/shape4.png");
        padding-bottom: 90.16393443%;
    }
}

.shape4-intro {
	top: 36.1% !important;
	left: 85.57291667% !important;
	width: 3.17708333%;
    & > .inside {
        background-image: url("../img/image-shape/shape4-intro.png");
        padding-bottom: 91.80327869%;
    }
}

.shape5 {
	top: 54.9% !important;
	left: 82.34375% !important;
	width: 6.77083333%;
    & > .inside {
        background-image: url("../img/image-shape/shape5.png");
        padding-bottom: 115.38461538%;
    }
}

.shape5-intro {
	top: 43.1% !important;
	left: 89.63541667% !important;
	width: 5.88541667%;
    & > .inside {
        background-image: url("../img/image-shape/shape5-intro.png");
        padding-bottom: 112.38938053%;
    }
}

.shape6 {
	top: 52.1% !important;
	left: 54.0625% !important;
	width: 16.25%;
    & > .inside {
        background-image: url("../img/image-shape/shape6.png");
        padding-bottom: 87.33974359%;
    }
}

.shape7 {
	top: 51.2% !important;
	left: 56.51041667% !important;
	width: 19.0625%;
    & > .inside {
        background-image: url("../img/image-shape/shape7.png");
        padding-bottom: 98.08743169%;
    }
}

.row{
	margin: 1px;
}

.shape7-intro {
	top: 44.9% !important;
	left: 62.96875% !important;
	width: 21.19791667%;
    & > .inside {
        background-image: url("../img/image-shape/shape7-intro.png");
        padding-bottom: 98.28009828%;
    }
}

.shape8 {
	top: 47.9% !important;
	left: 63.95833333% !important;
	width: 3.33333333%;
}

.shape8 > .inside {
	background-image: url("../img/image-shape/shape8.png");
	padding-bottom: 100%;
}

.shape9 {
	top: 52% !important;
	left: 49.27083333% !important;
	width: .78125%;
}

.shape9 > .inside {
	background-image: url("../img/image-shape/shape9.png");
	padding-bottom: 120%;
}

.shape9-intro {
	top: 60.1% !important;
	left: 51.25% !important;
	width: .78125%;
}

.shape9-intro > .inside {
	background-image: url("../img/image-shape/shape9-intro.png");
	padding-bottom: 120%;
}

.shape10 {
	top: 54.8% !important;
	left: 69.89583333% !important;
	width: .98958333%;
}

.shape10 > .inside {
	background-image: url("../img/image-shape/shape10.png");
	padding-bottom: 94.73684211%;
}

.shape10-intro {
	top: 62.1% !important;
	left: 86.14583333% !important;
	width: .5rem;
}

.shape10-intro > .inside {
	background-image: url("../img/image-shape/shape10-intro.png");
	padding-bottom: 87.5%;
}

.shape11 {
	top: 58.8% !important;
	left: 22.86458333% !important;
	width: .98958333%;
}

.shape11 > .inside {
	background-image: url("../img/image-shape/shape11.png");
	padding-bottom: 89.47368421%;
}

.shape11-intro {
	top: 68.6% !important;
	left: 15% !important;
	width: .9375%;
}

.shape11-intro > .inside {
	background-image: url("../img/image-shape/shape11-intro.png");
	padding-bottom: 83.33333333%;
}

.shape12 {
	top: 69.3% !important;
	left: 24.11458333% !important;
	width: 1.45833333%;
}

.shape12 > .inside {
	background-image: url("../img/image-shape/shape12.png");
	padding-bottom: 107.14285714%;
}

.shape12-intro {
	top: 79.9% !important;
	left: 43.4375% !important;
	width: 1.45833333%;
}

.shape12-intro > .inside {
	background-image: url("../img/image-shape/shape12-intro.png");
	padding-bottom: 107.14285714%;
}

.shape13 {
	top: 46.7% !important;
	left: 28.38541667% !important;
	width: 1.25%;
}

.shape13 > .inside {
	background-image: url("../img/image-shape/shape13.png");
	padding-bottom: 100%;
}

.shape14,
.shape14-intro {
	top: 36.8% !important;
	left: 16.97916667% !important;
	width: .72916667%;
}

.shape14 > .inside,
.shape14-intro > .inside {
	background-image: url("../img/image-shape/shape14.png");
	padding-bottom: 114.285714289%;
}

.shape14-intro > .inside {
	background-image: url("../img/image-shape/shape14-intro.png");
}

.shape15 {
	top: 38.6% !important;
	left: 82.8125% !important;
	width: .83333333%;
}

.shape15 > .inside {
	background-image: url("../img/image-shape/shape15.png");
	padding-bottom: 100%;
}

.shape16 {
	top: 71.2% !important;
	left: 32.29166667% !important;
	width: .72916667%;
}

.shape16 > .inside {
	background-image: url("../img/image-shape/shape16.png");
	padding-bottom: 114.28571429%;
}

.slide-ornament {
	display: block;
	width: 31.875%;
	background: url("../img/ornament.png") 0 0 no-repeat;
	background-size: 100%;
	position: absolute;
	left: 65.20833333%;
	top: 38.5%;
    & > .inside {
        display: block;
        height: 0;
        padding-bottom: 82.35294118%;
    }
}

/* 4.1 Slide About */

.title-mini {
	margin-bottom: .8125rem;
	font-size: .875rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .06em;
}

.title-mini-margin-lg {
	margin-bottom: 1.25rem;
}

h3.slide-title {
	font-size: 2.5rem;
}

.slide-title {
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.75rem;
	letter-spacing: -0.02em;
	line-height: 1.31818182;
}

@media (min-width: 768px) {
	.slide-title {
		margin-right: -3.125rem;
	}
	.slide-title{
		font-size: 1.75rem;
	}

	.slide-title.text-center,
	.text-center .slide-title {
		margin-right: 0;
	}
}

.slide-title-margin-md {
	margin-bottom: 2.25rem;
}

.slide-title-margin-lg {
	font-size: 2rem;
}

.slide-title .text-typed {
	background: #fcf1e7;
	box-shadow: #fcf1e7 0 0 0 5px;
	display: inline-block;
	min-height: .85em;
	line-height: .85;
}

.slide-descr {
	margin-top: 1.875rem;
	letter-spacing: -.01em;
	color: #234969;
	font-size: 1rem;
	line-height: 1.625;
}

.slide-photo {
	position: relative;
	margin-top: 4rem;
}

.parcours{
	width: 1em;
}

@media (min-width: 768px) {
	.slide-photo {
		margin-top: 0;
	}
	.slide-title{
		font-size: 1.75rem;
	}
}

.slide-photo-about {
	position: relative;
	max-width: 43.125rem;
	margin-left: auto;
	margin-right: auto;
}

.rounded-text {
	width: 8.625rem;
	height: 8.625rem;
	position: absolute;
	right: 50%;
	margin-right: 7.5rem;
	transform: rotate(-103deg);
}


/* 4.2 Slide Services */

.service-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.primary-link {
	position: relative;
	font-size: 18px;
	font-weight: bold;
}

.primary-link a,
.primary-link a:hover {
	color: inherit;
	text-decoration: none;
}

.primary-link a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: .25rem;
	height: 3px;
	width: 0;
	background-color: #f69683;
	transition: all .3s ease-in-out;
}

.primary-link a:hover:before {
	width: 5rem;
}

.slide-photo-services > .inside {
	width: 67.19298246%;
	margin-left: 15%;
}

.image-card {
	position: absolute;
	border-radius: 1.125rem;
	background: #ffffff;
	box-shadow: rgba(18,42,78,.15) 3.75rem 3.75rem 3.75rem;
}

.image-card-body {
	display: block;
	height: 0;
	padding-bottom: 100%;
}

.image-card-body > .inside {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.image-card-dark {
	background: #1f2044;
	box-shadow: none;
}

.image-card-primary {
	background: #df5647;
	box-shadow: none;
}

.section:not(.active) .animate-element {
	animation-name: none;
}

.section.active .animate-element {
	animation-duration: .7s;
	animation-fill-mode: both;
}

@for $i from 1 through 16 {
	.section.active .delay1 {
		.delay#{$i}{
			animation-delay: #{$i*0.1}s;
		}
		
	}
}

.card2-1 {
	width: 22.63157895%;
	left: 6.31578947%;
	top: 13.09859155%;
	.image-card-body > .inside {
		width: 57.36434109%;
	}
}

.card2-2 {
	width: 38.59649123%;
	left: -9.64912281%;
	top: 60.56338028%;
	.image-card-body > .inside {
		width: 22em;
	}
}

.card2-3 {
	width: 29.82456140%;
	right: 0%;
	top: 12.81690141%;
	.image-card-body > .inside {
		width: 52.94117647%;
	}
}

.card2-4 {
	width: 17.54385965%;
	right: 6.66666667%;
	top: 71.12676056%;
	.image-card-body > .inside {
		width: 71%;
	}
}

/* 4.3 Slide Skills */

.bar-list {
	margin-top: 3rem;
}

.bar-item {
	margin-bottom: 1.125rem;
}

.bar-item-title,
.bar-item-value {
	margin-bottom: .6875rem;
}

.bar-item-title {
	font-size: 1rem;
	font-weight: bold;
}

.bar-item-value {
	padding-top: 2px;
	font-size: .875rem;
}

.progress {
	height: .875rem;
	border-radius: .4375rem;
}

.progress-bar {
	position: relative;
	width: 0;
	transition: width 1s ease-in-out;
	transition-delay: 1.5s;
	background-color: #75a9d6;
}

.card3-1 {
	position: relative;
	width: 77.89473684%;
	.image-card-body > .inside {
		width: 86.71171171%;
	}
} 

.card3-2 {
	width: 18.42105263%;
	left: -3.50877193%;
	top: -4px;
}

.card3-2 .image-card-body > .inside {
	width: 65%;
}

.card3-3 {
	width: 35.08771930%;
	right: 8.07017544%;
	top: -12.16216216%;
	box-shadow: rgba(16,39,91,.1) 1.375rem 1.375rem 3.75rem;
}

.card3-3 .image-card-body > .inside {
	width: 52.5%;
}

.card3-4 {
	width: 20.87719298%;
	right: 4.91228070%;
	top: 82.88288288%;
	z-index: -1;
	box-shadow: rgba(11,53,92,.1) 1.875rem 1.875rem 3.75rem;
}

.card3-4 .image-card-body > .inside {
	width: 58.82352941%;
}



/* 4.4 Slide Resume */

.slide-photo-education,
.slide-photo-experience {
	margin-bottom: 2.1875rem;
}

.slide-photo-bg-rounded {
	padding: 14.59459459% 14.32432432% 2.70270270%;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: contain;
	width: 12em;
	margin-top: 3em;
	margin-bottom: 2em;
}

.photo-bg-education {
	background-image: url("../img/slide4-1-bg.png");
}

.education-image {
	margin-top: 7.19696970%;
	margin-left: 4.16666667%;
	width: 81.43939394%;
}

.photo-bg-experience {
	background-image: url("../img/slide4-2-bg.png");
}

.experience-image {
	margin-top: 4.92424242%;
	margin-left: 12.5%;
	width: 82.57575758%;
}

.slide-photo-bg-rounded > .inside {
	display: block;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	border-radius: 100%;
	background-color: #ffffff;
}

.vacancy-item {
	margin-bottom: 1.75rem;
}

.vacancy-item-title {
	
	font-size: 1.125rem;
	font-weight: bold;
	text-transform: uppercase;
}

.vacancy-item-title a {
	color: inherit;
}

.vacancy-item-place,
.vacancy-item-time {
	line-height: 1.625;
	font-size: 1rem;
}

.vacancy-item-place {
	font-weight: 600;
}

.vacancy-item-text {
	margin-top: .5rem;
	font-size: .875rem;
	line-height: 1.71428571;
}



/* 4.5 Slide Portfolio */

.portfolio-item-photo {
	margin-bottom: 1.75rem;
}

@media (min-width: 768px) {
	
	.slide-title{
		font-size: 1.75rem;
	}
}

.portfolio-item-title {
	margin-bottom: .625rem;
}

.portfolio-item-descr {
	font-size: .875rem;
}

.portfolio-carousel.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 1.25rem;
}

.owl-theme .owl-dots .owl-dot span {
	width: .75rem;
	height: .75rem;
	margin: 5px .5rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background: #464989;
}



/* 4.6 Slide Awards */

.reward-list {
	margin-top: 4.0625rem;
}

.reward-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 2.5rem;
}

.reward-item:first-child {
	margin-top: 0;
}

.reward-item-photo {
	width: 10.5rem;
	flex: 0 0 auto;
	padding-right: 1.875rem;
	text-align: center;
}

.reward-item-title {
	margin-bottom: 3px;
	margin-right: -1rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.125rem;
}

.reward-item-descr {
	font-size: .875rem;
	color: #234969;
}

.slide-photo6 {
	padding-top: 1.875rem;
	& > .inside {
		width: 100%;
		margin-left: 3%;
	}
}

.card6-1 {
	width: 14.03508772%;
	left: 6.31578947%;
	top: 0;
}

.card6-1 .image-card-body > .inside {
	width: 45%;
}

.card6-2 {
	width: 26.31578947%;
	left: 2.63157895%;
	top: 62.59259259%;
	top: 64.34697855%;
}

.card6-2 .image-card-body > .inside {
	width: 56%;
}



/* 4.7 Slide Testimonials */

.testimonial-carousel {
	margin-top: 2rem;
}

.testimonial-item {
	min-height: 18.75rem;
}

.testimonial-item-text {
	margin-top: 0;
}

.testimonial-item-author {
	margin-top: 3.25rem;
}

.testimonial-avatar {
	width: 3.4375rem;
}

.avatar > .inside {
	display: block;
	height: 0;
	padding-bottom: 100%;
	border-radius: 500px;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.testimonial-item-author-name {
	margin-bottom: 3px;
	font-size: 1rem;
	font-weight: bold;
}

.testimonial-item-author-status {
	font-size: .875rem;
	color: #234969;
}

.testimonial-carousel.owl-theme .owl-dots {
	margin-left: -.5rem;
	text-align: left;
}

.slide-photo-testimonials {
	padding-top: 12.28070175%;
	margin-bottom: 1.25rem;
}

.slide-photo-testimonials > .inside {
	width: 108.77192982%;
	margin-left: -5.26315789%;
}

.card7-1 {
	width: 12.28070175%;
	right: -5.96491228%;
	top: 24.09177820%;
	z-index: -1;
}

.card7-1 .image-card-body > .inside {
	width: 48.57142857%;
	top: 46%;
}

.card7-2 {
	width: 36.84210526%;
	left: -3.50877193%;
	top: 0;
	box-shadow: rgba(18,42,78,.15) 2.5rem 2.5rem 3.75rem;
}

.card7-2 .image-card-body {
	padding-bottom: 71.42857143%;
}

.card7-2 .image-card-body > .inside {
	width: 66.66666667%;
}

/* 4.8 Slide Clients */

.client-list {
	margin-top: 4.125rem;
}

.client-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 2.5rem;
}

.client-item:first-child {
	margin-top: 0;
}

.client-item-value {
	width: 10.5rem;
	padding-right: 1.875rem;
	font-size: 3.125rem;
	line-height: 1;
	font-weight: 600;
	color: #78acd9;
}

.client-item-title {
	margin-bottom: 3px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.125rem;
}

.client-item-descr {
	font-size: .875rem;
	color: #234969;
}

.slide-photo-clients {
	height: 0;
	padding-bottom: 92.10526316%;
	margin-top: 3.125;
}

.card8-1 {
	width: 37.19298246%;
	left: 29.82456140%;
	top: 27.04761905%;
	z-index: 100;
	box-shadow: rgba(11,53,92,.15) 4.375rem 4.375rem 3.75rem;
}

.card8-1 .image-card-body > .inside {
	width: 55.66037736%;
}

.card8-2 {
	width: 15.96491228%;
	left: 53.68421053%;
	top: 0%;
	box-shadow: rgba(11,53,92,.1) 1.375rem 1.375rem 3.75rem;
}

.card8-2 .image-card-body > .inside {
	width: 54.94505495%;
}

.card8-3 {
	width: 29.82456140%;
	left: 78.94736842%;
	top: 2.47619048%;
	box-shadow: rgba(11,53,92,.1) 1.375rem 1.375rem 3.75rem;
}

.card8-3 .image-card-body > .inside {
	width: 78.82352941%;
}

.card8-4 {
	width: 19.29824561%;
	left: 8.77192982%;
	top: 6.09523810%;
	box-shadow: rgba(11,53,92,.1) 2.5rem 2.5rem 3.75rem;
}

.card8-4 .image-card-body > .inside {
	width: 51.81818182%;
}

.card8-5 {
	width: 18.77192982%;
	left: 29.82456140%;
	top: 79.61904762%;
	box-shadow: rgba(11,53,92,.1) 1.875rem 1.875rem 3.75rem;
}

.card8-5 .image-card-body > .inside {
	width: 72.89719626%;
}

.card8-6 {
	width: 18.07017544%;
	left: 7.89473684%;
	top: 44.95238095%;
	box-shadow: rgba(11,53,92,.1) 1.875rem 1.875rem 3.75rem;
}

.card8-6 .image-card-body > .inside {
	width: 65.04854369%;
}

.card8-7 {
	width: 20.70175439%;
	left: 70.17543860%;
	top: 67.61904762%;
	box-shadow: rgba(11,53,92,.1) 1.875rem 1.875rem 3.75rem;
}

.card8-7 .image-card-body > .inside {
	width: 53.38983051%;
}

/* 4.9 Slide Contact */

.slide-btn {
	margin-top: 2.5rem;
}

.contacts {
	margin-top: 2rem;
}

.contact-item {
	margin-top: 1.5rem;
	font-size: 1.125rem;
	font-weight: 500;
}

.contact-item-phone {
	font-size: 1.875rem;
	font-weight: 600;
}

.mail-link,
.phone-link,
.phone-link:hover {
	color: inherit;
	text-decoration: none;
}

.phone-link {
	cursor: default;
	white-space: nowrap;
}

.contact-ornament {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	padding-bottom: 14%;
	background: url("../img/contact-ornament.png") 50% 100% no-repeat;
	background-size: cover;
}

.slide-contacts .slide-container {
	padding-bottom: 7rem;
}

@media (min-width: 768px) {
	.contact-ornament {
		background-size: contain;
		padding-bottom: 7.03125%;
	}

	.slide-title{
		font-size: 1.75rem;
	}

	.slide-contacts .slide-container {
		padding-bottom: 3rem;
	}

	.contacts {
		margin-top: 4.25rem;
	}

	.contact-item {
		margin-top: 2.5rem;
	}
}


/*-------------------------------------------------------------------------------
  5. Footer
-------------------------------------------------------------------------------*/

.footer {
	padding-bottom: 4rem;
}

.body-piling .footer {
	padding-bottom: 0;
}

.footer .container-fluid {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

.copyright {
	font-size: .875rem;
	color: #234969;
}

.body-piling .copyright {
	position: fixed;
	left: 15px;
	bottom: 15px;
	z-index: 500;
}

.footer-social {
	padding-bottom: .375rem;
	margin:0;
}

.body-piling .footer-social {
	position: fixed;
	right: 15px;
	bottom: 20px;
	z-index: 500;
	padding-bottom: 0;
}

.social {
	margin: 0;
	padding: 0 5px 0 0;
	list-style: none;
	font-size: 1.125rem;
	text-align: right;
	li {
		margin-bottom: .5rem;
	}
}

.chat {
	position: relative;
	margin-top: 7.75rem;
}

.chat-title {
	position: absolute;
	white-space: nowrap;
	right: 50%;
	bottom: 100%;
	margin-bottom: .3125rem;
	transform: rotate(90deg);
	transform-origin: right center;
	font-size: .875rem;
	color: #234969;
}

@media (min-width: 768px) {
	.body-piling .copyright {
		bottom: 4rem;
	}
	.slide-title{
		font-size: 1.75rem;
	}
	.body-piling .footer-social {
		bottom: 4.375rem;
		margin-right: 0em;
	}

	.primary-link {
		font-size: 15px;
	}
}

@media (min-width: 1400px) {
	.body-piling .copyright {
		left: 4.375rem;
	}

	.body-piling .footer-social {
		right: 4.375rem;
		margin-right: -1em;
	}
}



/*-------------------------------------------------------------------------------
  6. Modal
-------------------------------------------------------------------------------*/

.modal-content {
	border: none;
}

.modal .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.75rem;
}

.modal-body {
	padding: 2.5rem 2rem;
}



/*-------------------------------------------------------------------------------
  7. Dark Theme
-------------------------------------------------------------------------------*/

.is-dark::selection,
.is-dark ::selection {
  background-color: #78acd9;
  color: #ffffff;
}

.is-dark::-moz-selection,
.is-dark ::-moz-selection {
  background-color: #78acd9;
  color: #ffffff;
}

.is-dark,
.is-dark .pp-scrollable {
	background-color: #3c3c59;
}

.is-dark .slide-dark {
	background-color: #32324c;
}

.is-dark,
.is-dark .header,
.is-dark .footer,
.is-dark .brand-name,
.is-dark .brand-name-s,
.is-dark .copyright,
.is-dark .chat-title,
.is-dark .slide:not(.slide-about) .slide-descr strong,
.is-dark a:hover,
.is-dark .menu-main a,
.is-dark .menu-main a:hover,
.is-dark .menu-lang-item.active,
.is-dark .menu-lang-item:hover,
.is-dark .menu-footer-copyright {
	color: #ffffff;
}

.is-dark .hamburger span {
	background: #ffffff;
}

.is-dark .menu {
	background-color: #202044;
}

.is-dark .hide-menu {
	background-color: transparent;
}

.is-dark .menu-main .active a,
.is-dark .menu-main a:hover {
	background-color: #78acd9;
	box-shadow: #78acd9 0 0 0 2px
}

.is-dark .slide-title .text-typed {
	background-color: #78acd9;
	box-shadow: #78acd9 0 0 0 5px;
}

.is-dark .slide-descr,
.is-dark .vacancy-item-place,
.is-dark .vacancy-item-text,
.is-dark .portfolio-item-descr,
.is-dark .reward-item-descr,
.is-dark .testimonial-item-author-status,
.is-dark .client-item-descr {
	color: #b4b4d5;
}

.is-dark .rounded-text textPath {
	fill: #b4b4d5;
}

.is-dark .lines > div {
	background-color: #51516d;
}

.is-dark .progress-nav li:before {
	background-color: #ffffff;
}

.is-dark .progress-nav li.active,
.is-dark .progress-nav li.active ~ li {
	background: #51516d;
}

.is-dark .image-card {
	background-color: #4d4d6c;
}

.is-dark .image-card-dark {
	background-color: #1f2044;
}

.is-dark .card3-4 {
	background-color: #32324c;
}

.is-dark .card6-1,
.is-dark .card7-1 {
	background-color: #df5647;
}

.is-dark .slide-ornament {
	background-image: url("../img/ornament-dark.png");
}

.is-dark .owl-theme .owl-dots .owl-dot.active span,
.is-dark .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #e48b79;
}

.is-dark ::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: rgba(255,255,255,.1);
}



/*-------------------------------------------------------------------------------
  8. Intro
-------------------------------------------------------------------------------*/

.nav-toggle-btn .btn {
	position: relative;
	margin-top: -1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.btn .badge-purchase {
	display: block;
	position: absolute;
	left: -4px;
	top: -7px;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: url("../img/icon-purchase.png") 50% 50% no-repeat;
	background-size: cover;
}

.intro .slide-container {
	padding-bottom: 1rem;
}

.screen-container {
	margin-top: 5.125rem;
}

@media (min-width: 768px) {
	.screen-container {
		margin-left: -5rem;
		margin-right: -5rem;
	}
	.slide-title{
		font-size: 1.75rem;
	}
	.primary-link {
		font-size: 15px;
	}
}

.screen-content {
	margin-left: .625rem;
	margin-right: .625rem;
}

.slide-photo-intro {
	background-image: url("../img/bg-notebook.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	height: 0;
	padding-bottom: 82.22222222%;
	margin-top: 0;
	a {
		display: inline-block;
		color: #1f2044;
		text-decoration: none;
	}
}

.zoom {
	overflow: hidden;
	img {
		transform: scale(1);
		transition: transform .5s ease-in-out;
	}
}

.slide-photo-intro a:hover .zoom img {
	transform: scale(1.05);
}

.slide-photo-intro .inside {
	padding-left: 12.22222222%;
	padding-right: 12.22222222%;
	padding-top: 3.65079365%;
	padding-bottom: 10.47619048%; /*68*/
}

.screen-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

.scroll-down {
	border: 2px solid #fff;
	border-radius: 20px;
	bottom: 60px;
	height: 50px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 30px;
	&::before {
		animation: scrollDownAnimation 2s infinite;
		background-color: #fff;
		border-radius: 100%;
		content: '';
		height: 6px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 10px;
		width: 6px;
	  }
  }

  @-moz-keyframes scrollDownAnimation {
	0% {
	  opacity: 0;
	  transform: translate(0, 0);
	}
	40% {
	  opacity: 1;
	}
	80% {
	  opacity: 0;
	  transform: translate(0, 20px);
	}
	100% {
	  opacity: 0;
	}
  }
  @-webkit-keyframes scrollDownAnimation {
	0% {
	  opacity: 0;
	  transform: translate(0, 0);
	}
	40% {
	  opacity: 1;
	}
	80% {
	  opacity: 0;
	  transform: translate(0, 20px);
	}
	100% {
	  opacity: 0;
	}
  }
  @-o-keyframes scrollDownAnimation {
	0% {
	  opacity: 0;
	  transform: translate(0, 0);
	}
	40% {
	  opacity: 1;
	}
	80% {
	  opacity: 0;
	  transform: translate(0, 20px);
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes scrollDownAnimation {
	0% {
	  opacity: 0;
	  transform: translate(0, 0);
	}
	40% {
	  opacity: 1;
	}
	80% {
	  opacity: 0;
	  transform: translate(0, 20px);
	}
	100% {
	  opacity: 0;
	}
  }
  
.social-link{
	list-style: none;
	margin: 0 15px;
	a{
		position: relative; 
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 63px;
		background: #3c3c59;
		border-radius: 50%;
		font-size: 30px;
		color: rgb(255, 255, 255);
		transition: .5s;
		&:hover {
			color: #ffee10;
			box-shadow: 0 0 5px #ffee10;
			text-shadow: 0 0 5px #ffee10;
			&::before {
				transform: scale(1.1);
				box-shadow: 0 0 15px #ffee10;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: #ffee10;
			transition: .5s;
			transform: scale(.9);
			z-index: -1;
		  }
	}
}

  .fa{
	font-size: 20px;
    position: absolute;
    top: 10px;
    left: 12px;
  }

  @media (max-width:990px) {
	.body-piling .footer-social {
		position: fixed;
		right: 0px;
		bottom: 20px;
		z-index: 500;
		padding-bottom: 0;
	}
  }